
<Button Style="border-style: double;border-color: #c7c7c7;">
    <Icon Name="IconName.Print" />
</Button>
<Button Style="border-style: double;border-color: #c7c7c7;">
    <Icon Name="IconName.ShoppingCart" />
</Button>
<Button Style="border-style: double;border-color: #c7c7c7;">
    <Icon Name="IconName.LocationArrow" />
</Button>