<Row>
    <Column>
        <Heading TextWeight="TextWeight.Bold" Size="HeadingSize.Is3">Comment</Heading>
    </Column>
</Row>
<Row>
    <Column Style="padding-bottom: 20px;">
        <Text>2 Comment</Text>
    </Column>
</Row>
<Row>
    <Column Style="max-width:4rem">
        <Image Style="width:6rem;border-radius:50%" Source="https://giaydantuong.edu.vn/wp-content/uploads/2023/04/hinh-anh-doi-meo-de-thuong-1.jpg">
        </Image>
    </Column>
    <Column>
        <Field Style="padding-bottom:0.5rem; width:88rem; height: 3rem;">
            <TextEdit Placeholder="" Style="border-radius: 0.8rem; height:3rem">

            </TextEdit>
        </Field>
    </Column>
    <Column>
        <Button Color="Color.Primary">Add comment</Button>
    </Column>
</Row>
<Row>
    <Column Style="max-width:4rem">
        <Image Style="width:6rem;border-radius:50%" Source="https://kynguyenlamdep.com/wp-content/uploads/2022/06/avatar-cute-meo-con-than-chet-700x695.jpg">
        </Image>
    </Column>
    <Column>
        <Field>
            <Card Style=" border-radius: 0.8rem;">
                <CardBody Style="padding: 1rem;">
                    <CardTitle Size="3" Style="color:#0065c8">
                        Test
                    </CardTitle>
                    <CardText>
                        The structure at Ann and William streets 'pancaked' just after 4 pm, Buildings Commissioner Kazimir Vilenchik said at a press conference near the scene.
                        The upper floors packed with cars crumbled, sending vehicles into the void below, jaw-dropping photos taken from adjacent buildings show. 'A couple of floors of the concrete slab floors collapsed, crushed some of the cars that are inside.'
                        FDNY Chief of Operations John Esposito said at a press conference near the scene.

                    </CardText>
                </CardBody>
            </Card> 
        </Field>
    </Column> 
</Row>
<Row>
    <Column Style="max-width:4rem">
        <Image Style="width:6rem;border-radius:50%" Source="https://giaydantuong.edu.vn/wp-content/uploads/2023/04/hinh-anh-doi-meo-de-thuong-1.jpg">
        </Image>
    </Column>
    <Column>
        <Card Style=" border-radius: 0.8rem;">
            <CardBody Style="padding: 1rem;">
                <CardTitle Size="3" Style="color:#0065c8">
                    Gia Thanh
                </CardTitle>
                <CardText> 
                    I don't know about chanza, but if burta is at the highgest degree,
                    then i would agree with you. I'm not a native spanish speaker.">
                </CardText>
            </CardBody>
        </Card>  
    </Column> 
</Row>